.wrapper{
    margin: 0 auto;
    padding: 0 ;
}
header{
    text-align: center;
}
main{
    background: #f2f4f7;
    min-height: 700px;
}
.grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
    margin-top: 6%;
    margin-bottom:  50px;
}
.video{
    padding : 10px;
    width: 490;
}